.w10_percent {
    width: 10%;
}

.w20_percent {
    width: 20%;
}

.w30_percent {
    width: 30%;
}

.w40_percent {
    width: 40%;
}

.w50_percent {
    width: 50%;
}

.w60_percent {
    width: 60%;
}

.w70_percent {
    width: 70%;
}

.w80_percent {
    width: 80%;
}

.w90_percent {
    width: 90%;
}

.w100_percent {
    width: 100%;
}